/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3498db;
}

.wrapper {
  max-width: 410px;
  background-color: #fff;
  border-radius: 7px;
  padding: 16px 25px;
  height: 290px;
  transition: height 0.2s ease;
}

.wrapper.active {
  height: 530px;
}

header h1 {
  font-size: 21px;
  font-weight: 500;
}

header p {
  color: #474747;
  font-size: 16px;
  margin-top: 5px;
}
.wrapper .form {
  margin: 20px 0 30px;
}

.form :where(input, button) {
  width: 100%;
  height: 55px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.form input {
  font-size: 18px;
  padding: 0 17px;
  border: 1px solid #999;
}

.form button {
  background-color: #3498db;
  margin-top: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
}

.wrapper .qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 33px 0;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none; 
}

.wrapper.active .qr-code {
  opacity: 1;
  pointer-events: auto; 
  transition: opacity 0.5s 0.5s ease ;
}